/* Estilos Globales*/

:root{
    --tituloPagina: "Langosta", sans-serif;
    --azulSemiOpaco: #a8a8ac99;
    --blanco: white;
    --rosado: #f5cdc0;
    --negro: black;
    --degradadoCeleste:  linear-gradient(to bottom, #007bff, #00bfff);
    --fuentesSecundaria: "Bree Serif", cursive;
    --alturaNav:13vw;
}

html{
    font-size: 100%;
    font-display: var(--blanco);
    box-sizing: border-box;
}

/* .barra-nav-container{
    display: flex;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
} */

body, html{
    margin: 0;
    padding: 0;
    font-family: var(--fuentesSecundaria);
    background: #D3CCE3;  
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); 
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: var(--degradadoCeleste);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contenedor-imagenes {
    flex-direction: column;
}
#content {
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

*, :before, *:after {
    box-sizing: inherit;
}

/* Estilos de la Navegacion*/

/* responsive la barra de navegación */
@media (max-width: 480px) {
    .navegacion {
        height: auto;
        width: auto;
        background-color: var(--negro);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
 
        min-height: 20vh;
        min-width: 20vw;
        height: auto;
    }
    main {
        flex-direction: column;
    }
    .contenedor-imagenes {
        flex-direction: column;
    }
} 

.logo-nav{
    height: 15vh;
    width: 15vw;
}
.content {
    display: block;

}
.contenedor {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.contenedor-imagenes {
    flex-direction: row;
}

header {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0px;
    height: 75px;
    width: auto;
    z-index: 1;
}


.logo-nav {
    display: flex;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    top: 100px;
}
nav {
    margin: 0 auto;
    padding: 0 auto;

}
.navegacion{
    height: 15vh;
    background-color: var(--azulSemiOpaco);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navegacion.div{
    padding: 1rem;
}
.navegacion a{
    margin: 0 2rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--blanco)
}


.navegacion a:hover{
    cursor: pointer;
    color: var(--rosado);
}

a {
    padding: 0.5rem;
    font-size: 1.2rem;
}

/* Estilos del Main*/

.fondo {
    display: flex;
    flex-wrap: wrap;
    position:relative;
    margin: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*cubre toda la superficie*/
    height: auto;
    width: 100%;
}

.tecnologias {
    margin: auto 5;
}
.tecnologias h3 {
    text-align: center;
    color: var(--negro);
    font-size: 2rem;
}

.tecnologias p {
    text-align: center;
    color: var(--negro);
    font-size: 1.5rem;
}

.section div{
    position: relative;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin:auto;
}

/* * {
    border-color:red;
    }
    
    h2 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h3 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    html {
        height: 100%;
        width: 100%;
    }
    body{
        position:relative;
    }
    .titulo {
        color :darkblue;
        position: relative;
        margin:auto;
        text-align: center;
    }
    .barra-nav-container{
        display: flex;
        height: 80px;
        justify-content: space-evenly;
        align-items: center;
    }
    .nombre {
        flex: auto;
        margin: auto;
        align-items: center;
    }
    
    a{
        text-decoration: none;
        color:darkblue;
    }
    footer {
        position: absolute;
        top: 120vw;
    }
    logo {
        color: aqua;
        background-color: aqua;
        padding: 10px;
        height: 120;
    }
    
    
     */