/* Estilos Globales*/

:root{
    --tituloPagina: "Poetsen One", sans-serif;
    --azulSemiOpaco: #a8a8acDD;
    --grisOpaco: #a8a8acFF;
    --blanco: white;
    --rosado: #f5cdc0;
    --negro: black;
    --degradadoCeleste:  linear-gradient(to bottom, #007bff, #00bfff);
    --fuentesSecundaria: "Teachers", cursive;
    --alturaNav:13vw;
}

html{
    font-size: 100%;
    font-display: var(--blanco);
    box-sizing: border-box;
    height: auto;

}

*, :before, *:after {
    box-sizing: inherit;
}




body {
    position: relative;
    font-family: var(--fuentesSecundaria);
    margin: 0;
    padding: 0;
    background: var(--degradadoCeleste);
    height: 250vh;
    color: white;
}


a {
    display: flex;
    color: white;
    text-decoration: none;
    margin: 0 0px;
    height: 100%;
    width:100%;
    padding: 0.5rem;
    font-size: 1.2rem;
}

/* Estilos de la Navegacion*/

.comments {
    display: flex;
}

.comments h4{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.content {
    display: block;
}

.contenedor-imagenes {
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.contenedor-social-network {
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-color: red;
}
.container-social-network{
    display: flex;
}

.cuerpo-principal {
    display: flex;
    position: relative;
}
.error {
    color: #903c08;
    font-weight: 200;
    text-shadow: var(--azulSemiOpaco);
}
.fondo {
    display: flex;
    top: 100vh;
    margin: 0px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; /*cubre toda la superficie*/
    max-height: 70vh;
    width: 100%;
}
.fondo-container {
    top: 1000px;
}
.form-wrapper {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    margin: 0;
    padding-bottom: 0.5rem;
    top: 0px;
    height: auto;
    width: 100%;
    z-index: 1;
    background-color: var(--azulSemiOpaco);
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    border-style: dotted;
    border-color: var(--grisOpaco);
    border-width: 0.15rem;
}

.form-control {
    display: flex;
}
.form-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control input {
    height: auto;
    width: auto;
    padding: 0.5rem;
    margin: 0.5rem;
    justify-self: center;
}
.form-control {
    padding: 0.25rem;
    margin: 0;
}
.form-wrapper {
    justify-content: center;
}
.icono-social-network {
    display: flex;
    max-width: 20px;
    height: 20px;
}

.intro {
    justify-items: center;
    align-items: center;
}
.intro div {
    margin: 0;
    width: auto;
}
.invisible {
padding: 0.5rem;
}

label {
    padding: 0.5rem;
    /* margin: 0.5rem; */
}
main {
    font-family: var(--tituloPagina);
}
.navegacion {
    align-items: center;
    justify-content: center;
}
.navegacion li {
    display: flex;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--blanco);
    overflow: hidden;
}

.nav-menu-item {
    padding: 0;
    margin: 1rem;
    margin-bottom: 0.5rem;
}

.otros-medcont {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.otros-medcont p{
    text-justify: center;
}

.link-logo {
    justify-content: center;
}

.logo-nav-item {
    display: flex;
    border-style: dotted;
    border-color: red;
    max-height: 50px;
    justify-content: center;
    align-items: center;
}

.logo-div {
 display: none;
}

.logo-div img {
    display: flex;
    justify-content: center;
}

.logo-div {
    display: none;
}

.logo-nav {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 80px;
}

.navegacion a:hover{
    cursor: pointer;
    color: var(--rosado);
}

.navegacion {
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/* Estilos del Main*/


.tecnologias {
    margin: auto 5;
    font: var(--tituloPagina);
}
.tecnologias h3 {
    text-align: center;
    font-size: 2rem;
}

.tecnologias p {
    text-align: center;
    font-size: 1.5rem;
}

.dos p{
    font-size: 1.25rem;
}

.titulo {
    padding: 1rem;
}

/* responsive de la barra de navegación */

@media (max-width: 480px) {
 
    .invisible {
        display: none;
        margin: 0;
        padding: 0;
        height: 0px;
    }
    
    .navegacion {
       height: auto;
       width: auto;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       border-color: #f5cdc0;
   } 

   .navegacion ul {
    /* float: left; */
    margin: 0;
    padding: 0;
    height: auto;
    max-height: 50vh;
    text-decoration: none;
    color: var(--blanco);

   }

   .nav-menu-item{
    margin: auto;
    padding: auto;
       justify-content: center;
       height: 100%;
       border-color: red;
       max-height: 20px;
       width: 100%;
   }

   a {
       height: 100%;
       width:100%;
   }
   .logo-div {
    display: flex;
    max-height: 100px;
    justify-items: center;
   }

    .logo-nav-item {
        display: none;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        max-height: 1vh;
        max-width: 1vw;
        right: 10px;
        border-color: red;
        position: relative;
   } 

   .logo-nav {
    display: none;
    height: 0px;    
    }

    .nav-menu-item {
        display: none;
    }
 
   .contenedor-imagenes {
       flex-direction: column;
   }
   
   .descripcion-container{
    margin: 0;
    max-width: 180%;
    position: relative;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin:auto;
   }

   .descripcion-container h4 {
    font-style: normal;
    text-align: center;
}

   .estilo-aside{
    min-width: 25%;
    float: left;
    width: auto;
   }

   .estilo-aside img{
    border-radius:0%;
   }


   /* .contenedor-en-form-contacto {
    flex-direction: row;
   } */
   .nav-menu-item {
    display: flex;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    }
    .logo-nav-item{
        display: none;
    }
} 
/* 
.section div{
    position: relative;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin:auto;
} */



/* * {
    border-color:red;
    }
    
    h2 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h3 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    html {
        height: 100%;
        width: 100%;
    }
    body{
        position:relative;
    }
    .titulo {
        color :darkblue;
        position: relative;
        margin:auto;
        text-align: center;
    }
    .barra-nav-container{
        display: flex;
        height: 80px;
        justify-content: space-evenly;
        align-items: center;
    }
    .nombre {
        flex: auto;
        margin: auto;
        align-items: center;
    }
    
    a{
        text-decoration: none;
        color:darkblue;
    }
    footer {
        position: absolute;
        top: 120vw;
    }
    logo {
        color: aqua;
        background-color: aqua;
        padding: 10px;
        height: 120;
    }
    
    
     */