<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movie</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <nav>
            <!-- logo -->
            <div>
                <a href="/">
                    <span>CAC-Movies</span>
                </a>
            </div>
            <!-- Hipervinculos para el menu -->
            <ul>
                <li><a href="#popular">Tendencias</a></li>
                <li><a href="./templates/register.html">Registrate</a></li>
                <li><a href="#"><span>Iniciar Sesión</span></a></li>
            </ul>
          </nav>
    </header>
    <!-- Contenido -->
    <main>
        <!-- banner-movie: mostrar imagen -->
    <section id="banner-movie">
       <!-- division contenedora -->
        <div>
            <!-- Division para movie-details: espacio para dos partes una parte para poster y una para descripcion -->
            
            <div>
                <!-- poster -->
                <div>
                    <img src="../static/img/mario.jpg" alt="Mario">
                </div>
                <!-- Descripcion -->
                <div>
                    <!-- para titulo,año y tipo -->
                    <div>
                        <h2>The Super Mario Bros. Movie <span>(2023)</span></h2>
                        <p>04/05/2023 Animation,Family,Adventure,Fantasy,Comedy 1h 33m</p>
 
                    </div>
                    <!-- Descripcion de la trama -->
                    <div>
                        <h3>Overview</h3>
                        <p>While working underground to fix a water main, Brooklyn plumbers -and brothers- Mario and Luigi are transported down a mysterious pipe wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.</p>
                    </div>
                    <!-- creditos -->
                    <div>
                        <!-- info del director -->
                        <div>
                            <p>Aaron Horvath</p>
                            <p>Director</p>
                        </div>
                        <!-- info del director -->
                        <div>
                            <p>Michael Jelenic</p>
                            <p>Director</p>
                        </div>
                        <!-- info escritor -->
                        <div>
                            <p>Matthew Fogel</p>
                            <p>Writer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- more-info: mostrar info de la pelicula -->
     <section id="more-info">
        <!-- division contenedora -->
      <div>
        <!-- division para mas info de las peliculas -->
        <div>
            <!-- Trailer -->
            <div>
                <h3>Ver trailer</h3>
                <!-- video del trailer -->
                <div>
                    <iframe type="text/html" style="background-color: #000;" width="100%" height="315" src="//www.youtube.com/embed/RjNcTBXTk4I?autoplay=1&amp;origin=https%3A%2F%2Fwww.themoviedb.org&amp;hl=en&amp;modestbranding=1&amp;fs=1&amp;autohide=1" frameborder="0" allowfullscreen=""></iframe>

                </div>
            </div>
            <!-- mas info -->
            <div>
                <!-- Lista de redes sociales, luego se agregaran iconos -->
                <div>
                    <ul>
                        <li><a href="" target="_blank">Facebook</a></li>
                        <li><a href="" target="_blank">Twitter</a></li>
                        <li><a href="" target="_blank">Instagram</a></li>
                        <li><a href="">Movie</a></li>
                    </ul>
                </div>
                <!-- Tabla con mas informacion -->

                <div>
                 <table>
                    <thead>
                        <tr>
                            <th colspan="2">Info</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><strong>Status</strong></td>
                            <td>Released</td>
                        </tr>
                        <tr>
                            <td><strong>Original Language</strong></td>
                            <td>English</td>
                        </tr>
                        <tr>
                            <td><strong>Budget</strong></td>
                            <td>$100.000.000,00</td>
                        </tr>
                        <tr>
                            <td><Strong>Revenue</Strong></td>
                            <td>$1.347.013.866,00</td>
                        </tr>
                    </tbody>
                 </table>
                </div>
            </div>
        </div>
      </div>
     </section>
    </main>
    <!-- pie -->
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>
</html>