<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro-CAC-Movie</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
     <nav>
        <div class="logo">
            <a href="/">
                <!-- mas adelante se agregara un icono -->
                <span>CAC - Movies</span>
            </a>
        </div>
     </nav>
    </header>
    <!-- Contenido -->
    <main>
        <!-- form-wrapper: Formulario -->
     <section id="form-wrapper" >
      <h2>Registro</h2>
    <form action="#" id="formRegister" method="GET" novalidate>
    <div class="form-control">
        <label>Nombre</label>
        <input type="text" name="firstname" id="firstname" required placeholder="Maria">
    </div>
    <div class="error" id="error-firstname"></div>
    
    <div class="form-control">
        <label>Apellido</label>
        <input type="text" name="lastname" id="lastname" required placeholder="Lopez">
        </div>
        <div class="error" id="error-lastname"></div>
    <div class="form-control">
        <label>Email</label>
        <input type="email" name="email" id="email" required placeholder="ejemplo@ejemplo.com">
       
    </div>
    <div class="error" id="error-email"></div>
    <div class="form-control">
        <label>Contraseña</label>
        <input type="password" name="password" id="password" required>
        
    </div>
    <div class="error" id="error-password"></div>
    <div class="form-control">
        <label id="label-birthdate">Fecha de Nacimiento</label>
        <input type="date" name="birthdate" id="birthdate" required>
        
    </div>


    <div class="form-control">
        <select name="country" id="country" class="form-select">
            <option value="">Pais</option>
            <option value="AR">Argentina</option>
            <option value="BO">Bolivia</option>
            <option value="BR">Brasil</option>
            <option value="CH">Chile</option>
            <option value="CO">Colombia</option>
            <option value="EC">Ecuador</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Peru</option>
            <option value="UY">Uruguay</option>
            <option value="VE">Venezuela</option>
        </select>
    </div>
     <div class="form-terms">
        <div class="terms">
            <input type="checkbox" id="terms">
            <label for="terms">Acepto Términos y condiciones</label>
        </div>
     </div>

     <button type="submit">Registrate</button>
     <div class="form-help">
        <a href="#">Necesitas ayuda?</a>
     </div>



</form>
    </section>
    </main>
    <!-- pie -->
    <footer>

    </footer>
</body>
</html>